/* Elements */
:root {
    --main-bg-color: #212121;
    --main-text-color: white;
    --color-primary-lighter: #738ED0;
    --color-primary-normal: #4E70C2;
    --color-primary-darker: #3A59A3;
    --link-color: var(--color-primary-normal);

}

body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: Arial, sans-serif;
}

a {
    color: var(--main-text-color);
    font-weight: 900;
    text-decoration: underline;
}

a:hover {
    text-decoration: var(--link-color) underline;
}

input {
    font-size: 20px;
}

input:not([type="file"]), input::file-selector-button {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border-color: var(--color-primary-normal);
    border-radius: 4px;
    background-color: var(--color-primary-normal);
}

input:not([type="file"]):hover, input::file-selector-button:hover {
    background-color: var(--color-primary-lighter);
}

input:not([type="file"]):active, input::file-selector-button:active {
    background-color: var(--color-primary-darker);
}

h1 {
    letter-spacing: 4px;
    text-align: center;
}

/* Generic classes */
.mb-5 {
    margin-bottom: 10px;
}

.w-40 {
    width: 40%;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}

.gap-2 {
    gap: 6px;
}

.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* Specific classes */
.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.image-container, #svg-container > svg {
    width: 100%;
    max-width: 30vw;
}

.description {
    line-height: 1.5;
}

.content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#svg-container:empty ~ #download {
    display: none;
}